.vscode/extensions.json
.vscode/launch.json
__pycache__/aula127_ex_class_json_a.cpython-312.pyc
__pycache__/aula127_ex_class_json_a.cpython-312.pyc
__pycache__/aula127_ex_class_json_a.cpython-312.pyc
